<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}" id="fuente"
    >The Forest Wiki</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'foro' %}">Foro</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://www.google.com/maps/place/R%C3%ADo+Imperial+460,+Valle+Grande,+Lampa,+Regi%C3%B3n+Metropolitana/@-33.3295809,-70.751195,17z/data=!3m1!4b1!4m5!3m4!1s0x9662bf62531dc747:0xc0b4aee73c3b9373!8m2!3d-33.3295854!4d-70.7490063?hl=es-CL"
          >Dirección</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mi-cuenta' %}">Mi Cuenta</a>
      </li>
    </ul>
    <form class="d-flex" id="separarsearch">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>
